.spinner {
  /* placeholder for stuff like $.find('.spinner').detach() */ }

.spinner-32px {
  background-image: url("assets/spinner_32px.gif");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px; }

.spinner-h-center {
  margin-left: auto;
  margin-right: auto; }

.spinner-v-center {
  position: relative;
  top: 45%; }

